/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
	font-family: Baskerville, serif;
	font-size: 4em;
	margin: 0 0 5px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

p {
	color: rgb(152, 173, 166)
}

.title {
	color: rgb(152,173,166);
}
